
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="../../../assets/img.png"
       width="30" height="30"
        class="d-inline-block align-top" 
        alt="">
      InstaWorld
    </a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navul navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!-- <a [routerLink]=" ['/'] "class="nav-item nav-link  " >Home</a> -->
          <a [routerLink]=" ['/'] " class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a 
        routerLinkActive="active"
        *ngIf="!email"
        [routerLink]=" ['/signin'] "
        class="nav-item nav-link" >Sign In</a>
        </li>
        <li>
        <a
        routerLinkActive="active"
        *ngIf="!email"
        [routerLink]="['/signup']"
        class="nav-item nav-link" >Sign Up</a>
      </li>
        <li>
         <a 
        *ngIf="email"
        (click)="handleSignout()"
       
        class="nav-item nav-link ">Log Out</a>
         
 </li>
 <li>
  <a 
  *ngIf="email"
  [routerLink]=" ['/addpost'] "
  class="nav-item nav-link " >
    Post Your Story</a>
 </li>
 <li>
  <input class="form-control mr-sm-2" type="search" (keydown)="search($event)" placeholder="Search" aria-label="Search">
  <div *ngFor="let user of searchedUsers">
    <img [src]="user.picture" width="40" height="40"  class="rounded-circle ml-2 mt-4" (click)="show(user.id)">
    {{user.name}}
    <!-- <button (click)="show(user.id)" class="btn btn-danger">Follow</button> -->
  </div>
 </li>
       
        
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>